.outer{
    width:100%;
    height:670px;
    border:1px solid black;
    background-color:#f1f2f7;
      
}
.outer1{
    width:70%;
    height:550px;
    /* border:1px solid black; */
    background-color:#f1f2f7;
    position:relative;
    bottom:700px;
    left:300px;
}
.inner1{
    width:50%;
    height:500px;
    margin:auto;
    margin-top:100px;
    padding:40px;
    background-color: white;
   
}
.inner{
    width:35%;
    height:400px;
   
    margin:auto;
    margin-top:150px;
   
    padding:40px;
    background-color: white;
   
}
.top{
    position:relative;
    left:260px;
    bottom:670px;
    width:80%;
    height:150px;
   /* border:1px solid black; */
}
.btn4{
    position: relative;
    left:842px;
    top:-26px;
}
.label{
    margin:auto;
    padding:15px;
}
.b1{
    width:80%
}
.b2{
    margin-top: 30px;
    margin-left:10px;
}
.drop {
    position: relative;
    left:880px;
    top:20px;    
}
.lab{
    padding:2px;
    display:block;
}
.error{
    color: red;
}
.dashboard
{
    background-color:rgb(16,55,92);
    width:20%;
    height:670px;
    /* border:2px solid black; */
    line-height:50px;
   
}
img{
    width:250px;
    height:100px; 
}
.d1 a{
    color:white;
    text-decoration: none;
    margin-left: 10px;  
   
}
.d1:hover
{
    background-color:#b6bbc1; 
   
}
.d1{
    margin-top:30px;  
}

#table1{
    position:relative;
    left:260px;
    bottom:674px;
    width:80%;
}
.lbl{
    padding:10px;
}
.heading{
    padding:40px;
}
.d5{
    padding:2px;
}

.active {
    background-color:#12d012;
    text-align: center;
    border-radius: 10px;
}
.inactive {
    background-color: red;
    text-align: center;
    border-radius: 10px;
}
.dots{
    border:none;
    background-color:transparent;
}
.eml{
    display: block;
}
.d-flex{
     width:25%;
}
    .d-flex i{
     position:relative;
     right: 30px;
    top: 7px;
}
.search{
    display:inline-block;
    /* margin-top:20px; */
    position: relative;
    top:57px;
    left:20px;
}
.d6{
  width:20px;
  display: inline-block;
  position: relative;
 top:-69px;
  left:863px;
}   
.d7{
    width:20px;
    display: inline-block;
    position: relative;
   top:17px;
    left:665px;
} 
.d8{
    width:20px;
    display: inline-block;
    position: relative;
   top:18px;
    left:534px;
} 
.d9{
    width:20px;
    display: inline-block;
    position: relative;
   top:17px;
    left:703px;
}
.d10{
    position: relative;
    top:-654px;
     left:1108px;  
}

#highlight{
    background-color:grey;
}  
.black{
    color:black;
    text-decoration: none;
}
.head1{
    display: inline-block;
    position: relative;
    top:20px;
    left:20px;
}

.out{
    position: relative;
    bottom:651px;
    left:261px;
    width:80%;
    height:650px;
    background-color:#f1f2f7;
}
.c1{
    width:100%;
    height:60px;
    /* border:2px solid black; */
    display: flex;
   align-items: flex-end;
}
.iteam{
    margin-top: 0%px;
    margin:20px;
}
.c2{
    width:100%;
    height:60px;
    /* border:2px solid black; */
    display: flex;
   align-items: flex-end;
}
.iteam1{
    margin:10px;
    width:auto;
}
.iteam2{
    position:relative;
    left:304px;
    margin:10px;
}
.item3{
    position:relative;
    top: -1131px;
    left: 1108px;
}
.itm{
    background-color: white;
    color:black;
}
.srh{
    width:300px;
}
.btn5{
    position: relative;
    left:805px;
    top:-29px;
}
.btn6{
    position: relative;
    left:-473px;
    top:85px;
   
    
}
.btn7{
    position: relative;
    left:913px;
    top:-35px;
}
.btn8{
    position: relative;
    left:109px;
    top:-37px;
}
.btn9{
    position: relative;
    left: 252px;
    top: 46px;
}
.btn10{
    position: relative;
    left: 109px;
    top: -4px;
}
.btn11{
   padding:10px;
   justify-content:space-evenly;   
    display:flex;

}

.conn{
    width:100%;
    height:160px;
    /* border:2px solid black; */
    display: flex;
    background-color: white;
    margin-top:10px;
}
.pic{
    width:17%;
    margin: 5px;
    height:140px;
    border:2px solid black;
    
}
.head3{
 margin-left: 50px;
}
.head3 a{
    text-decoration: none;
}
.head2{
    width:100%;
    height:100px;
    background-color:#f1f2f7 ;
}
.outer2{
    height:645px;
    margin-top: 0px;
    background-color:#f1f2f7 ;
}
.container1{
    width:60%;
    height:500px;
   margin-left:10%;
    /* border: 2px solid black; */
   
}
.bold{
    padding-top:30px;
    font-weight: bold;
}
.input{
    width:60%;
    height:40px;
    border:2px solid rgb(193, 185, 185);
}


.title1{
   margin-top:28px;
    text-transform: uppercase;
    font-weight:600;
}
.des{
    font-size: smaller;
    text-transform: lowercase;
    padding:10px;
    
}
.enroll{
    display: flex;
}
.dot{
    position:relative;
    left:292px;
    top:-51px;
}
.des1{
    height: 29px;
    text-align: center;
    background-color:#e2e7ed;
    position: relative;
    left: 81px;
    top: 2px;
}
.status{
    width: 74px;
    height: 24px;
    text-align: center;
    border:2px solid black;
    position:relative;
    left:273px;
    top:19px;
}

.container4{
    width:60%;
    height:400px;
    /* border:2px solid black; */
    margin-left:100px;
   position: relative;
   top:100px;
    background-color: white;
}
.container3{
    width: 80%;
    height: 650px;
    position: relative;
    right: -260px;
    bottom: 667px;
    background-color:#f1f2f7;
}

.container5{
    position: relative;
    right: -260px;
    bottom: 667px;
}
.container6{
   width:50%;
   height:550px;
   border:2px solid black;
   position:relative;
   bottom: 590px;
   left: 316px;
}


.edit{
    position: relative;
    right:-662px;
    top:-24px;
    background-color: #b6bbc1;
}
.edit a{
    text-decoration: none;
}
.edit1{
    position: relative;
    right:-882px;
    top:-24px;
    background-color: #b6bbc1;
}
.delete{
    position: relative;
    right: -932px;
    top: -6px;
}
.edit1 a{
    text-decoration: none;
}
.outer3{
    width:80%;
    height:650px;
    background-color:#f1f2f7;
    position: relative;
    bottom:667px;
    left:260px;
}